<% content_for :subheader do %>
  <%= render 'slider' %>
<% end %>

<div id="welcome-message">
  <div class="container">
    <h1>
      欢迎来到 80配 汽配商城!
      <br>
      选购 <a href="/products">商品</a>, 送货<a href="/shipping">上门!</a>
    </h1>
  </div>
</div>

<div class="container">
  <% if @featured_products %>
    <div id="featured-products" class="row">
      <h3>推荐配件</h3>
      <hr>
      <ul class="carousel">
        <% @featured_products.each do |product| %>
          <%= render 'product', :product => product %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @latest_products %>
    <div id="latest-products" class="row">
      <h3>人气最旺</h3>
      <hr>
      <ul class="carousel">
        <% @latest_products.each do |product| %>
          <%= render 'product', :product => product %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>